
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Noto+Sans&display=swap');
 
body{
    font-family :'Noto Sans', sans-serif;
    line-height: 1.7;
}


/* This is for reset padding and margin at 0 for hole body */
*{
    padding: 0px;
    margin: 0px;
}

/* This is all for navbar styling */
.navbar{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

ul,li{
    display: flex;
    list-style: none;
    margin-left: 20px;
    
    /* border: 2px solid; */
}

/* img{
    height:50px;
    padding-right: 30px;
} */

.navbar{
    /* padding: 10px; */
    background: teal;
    padding: 20px;

}

a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    margin-top: 10px;
}

h1{
    margin-left: 20px
}

/*############ This is for Styling product########################### */

*{
    font-family: Arial, Helvetica, sans-serif;
   }
   #container{
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       grid-template-rows: auto;
       gap: 20px;
       text-align:center;

       
       /* justify-content: space-between; */
       
   }
   p{
     /* display: inline-block; */
     padding-top: 10px;
     
     }
     /* this is for all products */
     .product{
       border-radius:0.5rem;
       box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
       /* text-align: center; */
       
     }
     .price{
       display: inline-block;
       padding-left:30px;
       
     }
     .cartbtn{
      display: flex;
      /* flex-direction: row; */
       /* padding: 6px 20px; */
       margin-bottom: 6px;
       border-radius:10px 10px 10px 10px;
       color:teal;
       border: 2px solid teal;
       font-size:10px;
       margin:12px;
       padding: 10px 30px;
       font-size:15px;
       margin-left:60px;

     }

     .Pname,.pcategory{
       font-size:12px;
     }

     h1{
      margin-right: 20px;
     }
     
